* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.jumbotron {
  height: 350px;
}
.jumbotron img {
  height: 350px;
  overflow: hidden;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

.card-section {
  background-color: #1c1c1c;
}
.card-section .container-card {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 2em 0;
}
.card-section .container-card .card {
  width: calc(16.6666666667% - 1rem);
  margin-bottom: 3rem;
  margin-right: 1em;
  color: white;
}
.card-section .container-card .card img {
  width: 170px;
  height: 200px;
  margin-bottom: 1rem;
}
.card-section .container-card .card h4 {
  text-transform: uppercase;
}

.nav-merchandise {
  background-color: #0282f9;
  width: 100%;
  height: 100px;
  display: flex;
}
.nav-merchandise .merchandise-object {
  width: 80%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}
.nav-merchandise .merchandise-object .merchandise-link {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
}
.nav-merchandise .merchandise-object .merchandise-link img {
  height: 60px;
  margin-right: 8px;
}

header {
  height: 120px;
}
header .header-top {
  height: 30px;
  background-color: #0282f9;
}
header .header-top .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-top .container a {
  color: white;
}
header .header-bottom {
  height: 90px;
  width: 80%;
  margin: 0% auto;
  display: flex;
  align-items: center;
}
header .header-bottom .logo img {
  width: 70%;
}
header .header-bottom nav {
  width: 80%;
}
header .header-bottom nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-bottom nav ul li {
  list-style: none;
  margin-right: 8px;
}
header .header-bottom nav ul a {
  text-decoration: none;
  text-transform: uppercase;
}
header .header-bottom .searchbar {
  height: 1.5rem;
  width: 120px;
  border-bottom: 2px solid blue;
  text-align: end;
  opacity: 0.8;
}
header .header-bottom .searchbar input {
  background-color: transparent;
  width: 70px;
  border: none;
  text-align: end;
  font-size: 0.9rem;
  font-weight: bold;
}
header .header-bottom .searchbar input:focus {
  background-color: transparent;
  outline: none;
}

.footer-top {
  background-image: url("/images/footer-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  overflow: hidden;
}
.footer-top .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-top .container .link-list {
  display: flex;
}
.footer-top .container .link-list .link-footer {
  margin-right: 25px;
  color: white;
}
.footer-top .container .link-list .link-footer li {
  list-style: none;
  margin: 4px 0px 4px;
}
.footer-top .container .link-list .link-footer li a {
  color: gray;
  text-decoration: none;
}
.footer-top .container .logo-bg {
  overflow: hidden;
  width: 42%;
  -o-object-position: center;
     object-position: center;
  margin-top: -50px;
}

.footer-bottom {
  background-color: #303030;
  height: 100px;
  display: flex;
  align-items: center;
}
.footer-bottom .container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer-bottom .container .sign-up {
  color: white;
  background-color: #303030;
  text-transform: uppercase;
  font-size: 1.1em;
  padding: 9px;
  border: 3px solid #0282f9;
}
.footer-bottom .container .list-social h2 {
  text-transform: uppercase;
  color: #0282f9;
  font-size: 1.3em;
  margin-right: 14px;
}
.footer-bottom .container .list-social li {
  list-style: none;
}

.footer-bottom .list-social,
.footer-bottom ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom .list-social li,
.footer-bottom ul li {
  margin: 6px;
}